{% extends 'owner/base.html' %}


{% block main %}
<div class="content">
<div class="container-fluid">
<div class="col-lg-8 col-md-offset-2">
<div class="card">
<div class="header">
<h4 class="title">Add Property</h4>
</div>
<div class="content">
<form method="post" enctype="multipart/form-data">

{% csrf_token %}

<div class="row">
<div class="col-lg-12">
<div class="form-group">
    <label>Address</label>
    <input type="text" name="address" class="form-control border-input" placeholder="Address">
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4">
<div class="form-group">
    <label>Location</label>
    <input type="text" name="location" class="form-control border-input" placeholder="Location">
</div>
</div>	
<div class="col-md-4">
<div class="form-group">
    <label>City</label>
    <input type="text" name="city" class="form-control border-input" placeholder="City">
</div>
</div>
<div class="col-md-4">
<div class="form-group">
    <label>Pin Code</label>
    <input type="number" name="pin" class="form-control border-input" placeholder="ZIP Code">
</div>
</div>
</div>


<div class="row">
	<div class="col-md-4">
		<div class="form-group">
		    <label>For</label>
		    <input type="text" name="gender" class="form-control border-input" placeholder="Boy/Girl">
		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group">
		    <label>Occupancy</label>
		    <input type="text" name="occupancy" class="form-control border-input" placeholder="Occupancy">
		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group">
		    <label>Rent</label>
		    <input type="text" name="rent" class="form-control border-input" placeholder="Rent">
		</div>
	</div>
</div>




<div class="row">
	<div class="col-md-6">
		<div class="form-group">
		    <label>Size</label>
		    <input type="number" name="size" class="form-control border-input" placeholder="Room Area">
		</div>

	</div>
	<div class="col-md-6">
		<div class="form-group">
		    <label>No. of Rooms</label>
		    <input type="number" name="rooms" class="form-control border-input" placeholder="#Rooms">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-group">
		    <label>Ameneties</label>
		    <div class="row">
			    <div class="col-md-3">
				    <div class="checkbox checkbox-inline">
					    <input type="checkbox" name="ac">
					    <label>AC</label>
					</div>
				</div>
			    <div class="col-md-3">
				    <div class="checkbox checkbox-inline">
					    <input type="checkbox" name="watercooloer">
					    <label>Water Cooler</label>
					</div>
				</div>
			    <div class="col-md-3">
				    <div class="checkbox checkbox-inline">
					    <input type="checkbox" name="waterpurifier">
					    <label>Water Purifier</label>
					</div>
				</div>
			    <div class="col-md-3">
				    <div class="checkbox checkbox-inline">
					    <input type="checkbox" name="geyser">
					    <label>Geyser</label>
					</div>
				</div>
			</div>
		    <div class="row">
			    <div class="col-md-3">
				    <div class="checkbox checkbox-inline">
					    <input type="checkbox" name="furniture">
					    <label>Furniture</label>
					</div>
				</div>
			    <div class="col-md-3">
				    <div class="checkbox checkbox-inline">
					    <input type="checkbox" name="wifi">
					    <label>Wifi</label>
					</div>
				</div>
			    <div class="col-md-3">
				    <div class="checkbox checkbox-inline">
					    <input type="checkbox" name="meals">
					    <label>Meals</label>
					</div>
				</div>
			    <div class="col-md-3">
				    <div class="checkbox checkbox-inline">
					    <input type="checkbox" name="parking">
					    <label>Parking</label>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-group">
		    <label>Upload Images</label>
		    <input type="file" name="pgimages" class="form-control border-input" placeholder="Room Area" multiple="">
		</div>
	</div>
</div>


<div class="text-center">
<button type="submit" class="btn btn-info btn-fill btn-wd">Save Property</button>
</div>
<div class="clearfix"></div>
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}